:root{
  --main-color: #FFD966;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.header {
  background-color: var(--main-color);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: var(--main-color);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: black;
}
.note {
  background: var(--main-color);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  border: 5px solid white;
}
  
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p
.note-color-container p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--main-color);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.color-select{
  width: 100%;
  font-size: 1.2em;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: var(--main-color);
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.color-select option{
  color: black;
  font-weight:500;
  
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button,
.edit-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.edit-note{
  position: relative;
  border: none;
  outline: none;
}
.edit-note input{
  font-weight: bold;
}

.edit-note input,
.edit-note textarea{
  width: 100%;
  outline: none;
  font-family: inherit;
  resize: none;
  position: relative;
  background-color: transparent;
  border: none;
}

/* FORM CSS */
.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.inputContainer > .errorLabel,
.create-note > .errorLabel,
.edit-note > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.inputButton{
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: var(--main-color);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* PROFILE */

.profileCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border: 5px solid white;
  border-radius: 10px;
  height: 80vh;
  width: 50%;
}

.pictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.pictureContainer img {
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.profileInformationContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}